<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <!-- <link rel="manifest" href="img/favicon/manifest.json"> -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid h-100">
        <div class="d-flex align-items-center flex-column justify-content-center h-100">
            <h3 class="">Agregar Usuario</h3>
            <div class="card">
                <div class="card-body">
                    <form class="text-dark" method="POST">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="usu_documento">Numero de Documento</label>
                                <input type="text" class="form-control" name="usu_documento" id="usu_documento">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="usu_nombre">Nombre</label>
                                <input type="text" class="form-control" name="usu_nombre" id="usu_nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="usu_apellido">Apellido</label>
                                <input type="text" class="form-control" name="usu_apellido" id="usu_apellido">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="usu_password">Contraseña</label>
                                <input type="password" class="form-control" name="usu_password" id="usu_password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="usu_email">Correo electrónico</label>
                                <input type="text" class="form-control" name="usu_email" id="usu_email">
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="/admin" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>